h1 {
   color: brown;
}

.light-brown {
   color: rgb(143, 77, 77);
}

h2 {
   color: blue;
}

.history-red {
   color: red;
}

.history-yellov {
   color: yellow;
}

.history-green {
   color: green;
}

h2 {
   color: orange;
}

h3 {
   color: blueviolet;
}

h4 {
   color: aqua;
}

.red {
   color: red;
}

.yellow {
   color: yellow;
}

.green {
   color: green;
}

.type p {
   color: olive;
}

.text-more {
   color: navy;
}

ul {
   color: darkgoldenrod;
}